.td_acceuil{
    
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 5px 0px;
}

.countainer{
          
            }

.countain{
    display: flex;
    border:1px solid black;
            
}
